<div class="log clearfix{{#if type}} {{type}}{{/if}}">
	<div class="bullet">&raquo;</div>
	<div class="entry">
		{{#if meta}}<span class="meta"><span>{{label}}{{value}}</span></span>{{/if}}
		{{{message}}}
	</div>
</div>